<div layout="row" layout-sm="column">
	<div flex>
		<md-card>
			<md-card-content>
				<h1 class="md-headline">About</h1>
				<md-divider></md-divider>
				<div class="">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit rem porro, veniam fugiat aut vel eveniet doloremque delectus quod repellendus, molestiae, libero atque unde! Itaque quas doloribus blanditiis, sint nesciunt molestias id maxime optio,
						eos nihil esse. Quos accusamus praesentium, voluptas ad eveniet incidunt similique laudantium commodi labore totam?
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit rem porro, veniam fugiat aut vel eveniet doloremque delectus quod repellendus, molestiae, libero atque unde! Itaque quas doloribus blanditiis, sint nesciunt molestias id maxime optio,
						eos nihil esse. Quos accusamus praesentium, voluptas ad eveniet incidunt similique laudantium commodi labore totam?
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit rem porro, veniam fugiat aut vel eveniet doloremque delectus quod repellendus, molestiae, libero atque unde! Itaque quas doloribus blanditiis, sint nesciunt molestias id maxime optio,
						eos nihil esse. Quos accusamus praesentium, voluptas ad eveniet incidunt similique laudantium commodi labore totam?
					</p>
				</div>
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-content>
				<h1 class="md-headline">About</h1>
				<md-divider></md-divider>
				<div class="">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit rem porro, veniam fugiat aut vel eveniet doloremque delectus quod repellendus, molestiae, libero atque unde! Itaque quas doloribus blanditiis, sint nesciunt molestias id maxime optio,
						eos nihil esse. Quos accusamus praesentium, voluptas ad eveniet incidunt similique laudantium commodi labore totam?
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit rem porro, veniam fugiat aut vel eveniet doloremque delectus quod repellendus, molestiae, libero atque unde! Itaque quas doloribus blanditiis, sint nesciunt molestias id maxime optio,
						eos nihil esse. Quos accusamus praesentium, voluptas ad eveniet incidunt similique laudantium commodi labore totam?
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam suscipit rem porro, veniam fugiat aut vel eveniet doloremque delectus quod repellendus, molestiae, libero atque unde! Itaque quas doloribus blanditiis, sint nesciunt molestias id maxime optio,
						eos nihil esse. Quos accusamus praesentium, voluptas ad eveniet incidunt similique laudantium commodi labore totam?
					</p>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>
